/*--------------------------Оформление блоков сетки-----------------------------*/
/*
.outline: 1px solid blue;
    background-color: rgba(204, 255, 255, 0.2);
}

.outline-middle {
    outline: 1px solid aquamarine;
    background-color: rgba(102, 204, 102, 0.2);
}

.outline-small {
    outline: 1px solid black;
    background-color: rgba(255, 255, 102, 0.6);
}

.outline-content {
    outline: 1px solid black;
}

.outline-catalog {
    outline: 1px solid #fc3912;
    background-color: rgba(165, 42, 42, 0.5);
}

.outline-wrapper {
    outline: 1px dashed red;
}
*/

/*--------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    background-color: #ffffff; 
    color: #000000;
    min-width: 960px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    font-family: "Cuprum"; 
}

h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    font-family: "Cuprum"; 
}

/*----------------------------------Сетка----------------------------------*/
.no-visible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}


/*-------------------------Для блока main-header---------------------------*/
.main-header {
    min-height: 320px; 
    background-color: #f1f5f7;
}

.header-top {
    background-color: #293449;
    color: #fff;
    height: 42px;
    font-size: 0;
    margin-bottom: 46px;
}

.header-logo {
    display: inline-block;
    vertical-align: top;
}

.header-logo__link {
    display: block;
    width: 220px;
    min-height: 39px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #fff;
    text-decoration: none;
    line-height: 39px;
    text-align: center;
    padding-top: 3px;
}

.header-logo:after {
    display: block;
    content: "";
    width: 220px;
    height: 5px;
    background-color: #9a212a;
}

.header-logo__link:hover {
    background-color: #ca2c37;
}

.header-logo__link:active {
    background-color: #ba2732;
}

.header-search {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.header-search__btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 42px;
    background-color: #293449;
    cursor: pointer;
    border: none;
}

.header-search__btn:active {
    outline: none;
}

.header-search__input {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: none;
    width: 220px;
    min-height: 42px;
/*    padding-left: 50px;*/
    color: #000;
    background-color: #293449; 
    font-size: 17px;
}

.header-search__input:hover {
    background-color: #212a3a;
}

.header-search__input:focus {
    outline: none;
    background-color: #fff;
}

.header-search:focus .header-search__btn {
    background-color: #fff;
}

input::-webkit-input-placeholder { color: white; }

.header-menu {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
}

.header-menu__link {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 42px;
}

.top-menu-active {
    background-color: #ee3643;
}

.header-menu__link--bookmarks {
    position: relative;
    width: 105px;
    padding-left: 45px;
}

.header-menu__link--bookmarks:hover {
    background-color: #212a3a;
}

.header-menu__link--bookmarks:hover .bookmarks-icon::before {
    background-position: -10px -190px;
}

.header-menu__link--bookmarks:active {
    background-color: #161d29;
}

.header-menu__link--basket {
    position: relative;
    width: 100px;
    padding-left: 50px;
}

.header-menu__link--basket:hover {
    background-color: #212a3a;
}

.header-menu__link--basket:active {
    background-color: #161d29;
}

.header-menu__link--checkout {
    width: 150px;
    text-align: center;
    background-color: #63a63e;
}

.header-menu__link--checkout:hover {
    background-color: #5fbb2d;
}

.header-menu__link--checkout:active {
    background-color: #518534;
}

.header-menu__value {
    margin-left: 4px;
}

.info {
    width: 630px;
    float: left;
}

.info-description {
    float: left;
    width: 247px;
    margin-right: 10px;
    position: relative;
    padding-left: 53px;
    padding-top: 3px;
}

.description__text {
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.info-contacts {
    float: right;
    width: 310px;
    
}

.contacts__phone {
    display: block;
    position: relative;
    width: 193px;
    min-height: 39px;
    border: 3px solid #fff;
    font-size: 21px;
    color: #e9292a;
    padding-left: 71px;
    line-height: 39px;
    margin-bottom: 4px;
}

.contacts__address {
    display: block;
    color: #32425c;
    font-size: 14px;
    padding-left: 10px
}

.user-block {
    width: 300px;
    float: right;
    /*Только для оформления сетки*/
    min-height: 112px;
}

.user-block__sign-in {
    display: inline-block;
    position: relative;
    left: 19px;
    width: 46px;
    min-height: 45px;
    background-color: #fff;
    text-decoration: none;
    font-size: 21px;
    color: #000;
    padding-left: 48px;
    padding-right: 27px;
    text-align: center;
    line-height: 45px;
    margin-right: 8px;
}

.user-block__sign-in:hover .user-block__text {
    color: #ee3643;
}

.user-block__sign-in:active .user-block__text {
    color: #000;
    opacity: 0.3;
}

.user-block__registration {
    display: inline-block;
    position: relative;
    left: 19px;
    width: 148px;
    min-height: 45px;
    background-color: #fff;
    text-decoration: none;
    font-size: 21px;
    color: #000;
    text-align: center;
    line-height: 45px;
}

.user-block__registration:hover .user-block__text {
    color: #ee3643;
}

.user-block__registration:active .user-block__text {
    color: #000;
    opacity: 0.3;
}

.user-block__auto {
    display: inline-block;
    background-color: #fff;
    font-size: 0;
}

.user-block__sign-out {
    position: relative;
    display: inline-block;
    width: 203px;
    min-height: 45px;
    font-size: 21px;
    line-height: 45px;
    text-decoration: none;
    color: #000;
    padding-left: 47px;
}

.user-block__logout {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    margin: 10px 10px;
}

.user-block__sign-out:active span {
    opacity: 0.3;
}

.user-block__btn {
    display: inline;
}

.user-block__links {
    margin-top: 4px;
    margin-left: 19px;
}

.user-block__link {
    font-size: 16px;
    color: #32425c;
}

.user-block__link:hover {
    color: #ee3643;
}

.user-block__link:active {
    color: #32425c;
    opacity: 0.3;
}

.user-block__decoration {
    display: inline-block;
    width: 4px;
    height: 5px;
    background: #f2f6f8 url("../img/picture-user-links.png") no-repeat 50% 50%;
    margin: 0 11px;
}

.main-navigation {
    min-height: 60px;
}

.navigation {
    list-style: none; 
    margin: 0; 
    padding-left: 0;
    font-size: 0;
    background-color: #32425c; 
}

.navigation__item {
    display: inline-block;
    vertical-align: top;
}

.navigation__link {
    display: block;
    padding: 16px 31px;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    border-bottom: 4px solid #293449;
}

.navigation__item:first-child .navigation__link {
    padding-left: 51px; 
}

.navigation__item:last-child .navigation__link {
    padding-right: 48px; 
}

.navigation__link:hover {
    background-color: #293449;
}

.navigation__link:active {
    background-color: #1d2739;
}



/*Добавляем иконки*/
.header-search__btn::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 16px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.search-icon::after {
    width: 17px;
    height: 17px;
    background-position: -10px -1168px;
}

.user-block__sign-in::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 15px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
} 

.sign-in-icon::before {
    width: 20px;
    height: 17px;
    background-position: -10px -875px;
}

.header-menu__link--bookmarks::before,
.header-menu__link--basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.bookmarks-icon::before {
    width: 14px;
    height: 16px;
    background-position: -10px -118px;
}

.basket-icon::before {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.contacts__phone::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 14px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.phone-icon::before {
    width: 19px;
    height: 19px;
    background-position: -10px -1097px;
} 

.user-block__sign-out::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.profile-icon::before {
    width: 20px;
    height: 18px;
    background-position: -10px -1369px;
}

.user-block__logout::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.sign-out-icon::before {
    width: 21px;
    height: 17px;
    background-position: -10px -986px;
}
/*---------------------------------Для блока main-footer--------------------------------*/
.main-footer {
    min-height: 300px;
    color: #fff;
}

.main-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.footer-top {
    background-color: #32425c;
    min-height: 193px;
}

.footer-bottom {
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
    padding-top: 36px;
}

.footer-logo-address {
    width: 380px;
    float: left;
    min-height: 193px;
}

.footer-logo {
    display: block;
    width: 220px;
    min-height: 63px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #fff;
    text-decoration: none;
    line-height: 63px;
    text-align: center;
    margin-bottom: 29px;
}

.footer-logo:after {
    display: block;
    content: "";
    width: 220px;
    height: 5px;
    background-color: #9a212a;
}

.footer-address {
    font-size: 18px;
    line-height: 24px;
    padding-left: 3px;
}

.footer-menu {
    width: 560px;
    float: right;
    min-height: 100px;
    padding-top: 39px;
    font-size: 0;
}

.footer-menu-top {
    margin-left: 12px;
    margin-bottom: 29px;
}

.footer-menu-bottom {
    margin-left: 33px;
}

.footer-menu-top__item {
    display: inline;
    margin-right: 58px;
    
}

.footer-menu-top__link:hover {
    text-decoration: underline;
}

.footer-menu-top__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-menu-bottom__link:hover {
    text-decoration: underline;
}

.footer-menu-bottom__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-menu-bottom__item {
    display: inline;
    margin-right: 59px;
    
}

.main-footer .footer-menu-bottom__link {
    color: #ffd180;
}

.footer__no-margin-r {
    margin-right: 0;
}

.copyright {
    width: 298px;
    min-height: 69px;
    float: left;
    margin-right: 80px;
    padding-top: 2px;
    padding-left: 2px;
}

.social {
    width: 170px;
    min-height: 71px;
    float: left;
    margin-right: 60px;
    padding-left: 10px;
}

.social-btn {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-btn:hover {
    background-color: #ee3643;
}

.social-btn:active {
    background-color: #ee3643;
}

.feedback {
    width: 300px;
    min-height: 69px;
    float: right;
    padding-top: 2px;
    padding-left: 20px;
}

.feedback a {
    font-size: 16px;
}

.feedback__address {
    color: #ffd180;
}

.feedback__top {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.feedback__bottom {
    display: inline-block;
    vertical-align: top;
}

.feedback a:hover span {
    text-decoration: underline;
}

.feedback a:active span {
    color: #ee3643;
    text-decoration: none;
}

/*Добавляем иконки*/

.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.social-btn-vk::before {
    width: 20px;
    height: 12px;
    background-position: -10px -1649px;
}

.social-btn-fb::before {
    width: 10px;
    height: 18px;
    background-position: -10px -1483px;
}

.social-btn-inst::before {
    width: 17px;
    height: 17px;
    background-position: -10px -1521px;
}

/*------------------------------Для блока main-content----------------------------*/
.main-content {
    padding-top: 59px;    
}

.header-top-menu__item {
    display: inline;
}

.promo-block {
    font-size: 0;
    color: #fff;
    margin-bottom: 53px;
}

.promo-block a {
    color: #fff;
}

.promo {
    display: inline-block;
    position: relative; 
    width: 300px;
    min-height: 123px; 
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    vertical-align: top;
}

.new {
    background: transparent url(../img/picture_new.png) no-repeat 100% 0;
}

.promo-text__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: 21px;
    left: 23px;
}

.promo-text__btn {
    position: absolute;
    bottom: 22px;
    left: 25px;
}

.promo-text__link {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    min-height: 38px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.promo-text__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-text__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo--yellow {
    background-color: #f6b22d;
}

.promo--blue {
    background-color: #4aafde;
}

.promo--purple {
    background-color: #cc79d1;
}

.promo--green {
    background-color: #85d179;
}

.promo--no-margin-r {
    margin-right: 0;
}

.promo--no-margin-b {
    margin-bottom: 0;
}

.promo--delivery {
    margin-bottom: 0;
}

.promo-text {
    width: 160px;
    float: left;
}

.promo-icon {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    position: relative;
    width: 140px;
}

.promo-icon--materials {
    top: 31px;
    left: 143px;
}

.promo-icon--tool {
    top: 33px;
    left: 127px;
}

.promo-icon--tech {
    top: 31px;
    left: 121px;
}

.promo-icon--discounts {
    top: 26px;
    left: 126px;
}

.promo-icon--delivery {
    top: 32px;
    left: 121px;   
}

.promo-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("../img/promo-sprite.png");
    background-repeat: no-repeat;
}

.promo-icon--materials::before {
    width: 44px;
    height: 65px;
    background-position: -5px -160px;
}

.promo-icon--tool::before {
    width: 75px;
    height: 61px;
    background-position: -5px -307px;
}

.promo-icon--tech::before {
    width: 78px;
    height: 62px;
    background-position: -5px -235px;
}

.promo-icon--discounts::before {
    width: 59px;
    height: 72px;
    background-position: -5px -78px;
}

.promo-icon--delivery::before {
    width: 78px;
    height: 63px;
    background-position: -5px -5px; 
}

.slider-box {
    position: relative;
    width: 620px;
    height: 266px;
    font-size: 18px;
    margin-right: 20px;
    float: left;
}

.slider-img__1 {
    position: absolute;
    z-index: 2;
}

.slider-img__2 {
    position: absolute;
}

.slider-text {
    display: block;
    position: relative;
    z-index: 20;
    padding: 29px 23px; 
}

.slider-text__title {
    display: block;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
   
}

.slider-text__content {
    display: block;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-left: 3px;
}

.slider-box-nav__prev {
    position: absolute;
    z-index: 2;
    top: 115px;
    left: 24px;
    width: 22px;
    height: 40px;
    background: transparent url("../img/slider-btn-left.png") no-repeat 50% 50%; 
    border: none;
    cursor: pointer;
}

.slider-box-nav__next {
    position: absolute;
    z-index: 2;
    top: 115px;
    right: 20px;
    width: 22px;
    height: 40px;
    background: transparent url("../img/slider-btn-left.png") no-repeat 50% 50%; 
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.nav-disabled {
    cursor: default;
}

.slider-catalog {
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: 25px;
    bottom: 22px;
}

.slider-catalog__link {
    display: block;
    font-size: 14px;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 195px;
    height: 38px;
    background-color: #ee3643;
    border-radius: 3px;
}

.slider-catalog__link:hover {
    background-color: #ca2c37;
}

.slider-catalog__link:active {
    background-color: #ba2732;
}

.slider-box-pagination {
    position: relative;
    top: 106px;
    left: 295px;
}

.slider-box-pagination__item {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.slider-box-pagination__item--2 {
    left: 20px;
}

.pagination-current {
    position: absolute;
    z-index: 3;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ef414d;
}

.popular {
    margin-bottom: 20px;
}

.popular-top {
    position: relative;
    margin-bottom: 20px;
    background-color: #f7f3ec;
    min-height: 89px;
}

.popular-top__title {
    position: absolute;
    top: 30px;
    left: 29px;
    margin-right: 369px;
    color: #32425c;
    text-transform: uppercase;   
}

.popular-top__link {
    position: absolute;
    top: 25px;
    right: 24px;
    font-size: 14px;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 253px;
    min-height: 38px;
    background-color: #ee3643;
    border-radius: 3px;
}

.popular-top__link:hover {
    background-color: #ca2c37;
}

.popular-top__link:active {
    background-color: #ba2732;
}

.popular-bottom {
    font-size: 0;
    min-height: 318px;
}

.popular-bottom-item {
    width: 218px;
    margin-right: 20px;
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    min-height: 316px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.popular-item__link {
    text-decoration: none;
    color: #000;
}

.popular-item__link:hover {
    text-decoration: underline;
}

.popular-bottom-item:last-child {
    margin-right: 0;
}

.popular-item-main {
    position: relative;
    min-height: 170px;
    margin-bottom: 7px;
}

.popular-item-img {
    position: absolute;
}

.popular-item-img--1 {
    top: 24px;
    left: 16px;
}

.popular-item-img--2 {
    top: 29px;
    left: 40px;
}

.popular-item-img--3 {
    top: 31px;
    left: 27px;
}

.popular-item-img--4 {
    top: 29px;
    left: 32px;
}

.popular-item-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.popular-item-hover__buy {
    position: absolute;
    top: 45px;
    left: 42px;
    width: 135px;
    height: 35px;
    background-color: #63a63e;
    border-radius: 3px;
    box-shadow: inset 0 -3px 0 #367315;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}

.popular-bottom-item:hover {
    box-shadow: 0 10px 25px 5px rgba(122,122,122,0.5);
}

.popular-bottom-item:hover .popular-item-hover {
    z-index: 10;
}

.popular-bottom-item:hover .popular-item-img {
    z-index: -10;
}

.popular-item-hover__to-bookmarks {
    position: absolute;
    top: 90px;
    left: 42px;
    width: 129px;
    height: 32px;
    background-color: #fff;
    border-radius: 3px;
    border: 3px solid #63a63e;
    color: #32425c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}

.popular-item-hover__buy:hover {
    background-color: #5fbb2d;
}

.popular-item-hover__buy:active {
    background-color: #518534;
}

.popular-item-hover__to-bookmarks:hover {
    border-color: #32425c;
}

.popular-item-hover__to-bookmarks:active {
    border-color: #c1c6ce;
}

.popular-item-hover__to-bookmarks:active .popular-item-hover__text {
    opacity: 0.3;
}

.popular-item-description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
}

.popular-item-description__category {
    font-size: 18px;
    text-align: center;
    margin-bottom: -4px;
}

.popular-item-description__model {
    font-size: 18px;
    text-align: center;
    margin-bottom: 6px;
}

.popular-item-description__old-price {
    font-size: 17px;
    color: #999999;
    text-decoration: line-through;
    text-align: center;
    margin-bottom: 7px;
}

.popular-item-description__new-price {
    position: relative;
    width: 140px;
    height: 38px;
    margin-left: 42px;
    font-size: 17px;
    text-align: center;
    line-height: 38px;
    background-color: #ee3643;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.popular-item-description__new-price::after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 19px solid #fff;
    border-left-color: #ee3643;
}

.brands {
    margin-bottom: 85px;
}

.brands-top {
    position: relative;
    min-height: 89px;
    margin-bottom: 20px;
    background-color: #f7f3ec;
}

.brands-top__title {
    position: absolute;
    top: 31px;
    left: 24px;
    color: #32425c;
    text-transform: uppercase;
}

.brands-top__link {
    display: block;
    position: absolute;
    top: 26px;
    right: 24px;
    font-size: 14px;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 253px;
    min-height: 38px;
    background-color: #ee3643;
    border-radius: 3px;
}

.brands-top__link:hover {
    background-color: #ca2c37;
}

.brands-top__link:active {
    background-color: #ba2732;
}

.brands-bottom {
    font-size: 0;
}

.brands-item__container {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 18px;
    vertical-align: top;
    border: 1px solid #e7e7e7;
}

.brands-item__container--no-margin-r {
    margin-right: 0;
}

.brands-item__container--no-margin-b {
    margin-bottom: 0;
}

.brands-item__link {
    display: inline-block;
    width: 218px;
    min-height: 143px; 
}

.brands-item__link:hover {
    box-shadow: 0 10px 25px 5px rgba(122,122,122,0.5);
/*    box-shadow: 5px 5px 5px rgba(122,122,122,0.5);*/
/*    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);*/
} 

.brands-item__picture {
    position: relative;
}

.brands-item__picture--1 {
    top: 53px;
    left: 46px;
}

.brands-item__picture--2 {
    top: 50px;
    left: 47px;
}

.brands-item__picture--3 {
    top: 48px;
    left: 36px;
}

.brands-item__picture--4 {
    top: 21px;
    left: 8px;
}

.brands-item__picture--5 {
    top: 58px;
    left: 27px;
}

.brands-item__picture--6 {
    top: 35px;
    left: 47px;
}

.brands-item__picture--7 {
    top: 23px;
    left: 34px;
}

.brands-item__picture--8 {
    top: 34px;
    left: 9px;
}

.service {
    position: relative;
    background-color: #f2f6f8;
    min-height: 522px;
}

.service-top {
    position: relative;
    width: 400px;
    min-height: 138px;
    padding-top: 41px;
    margin-bottom: 60px;
}

.service__title {
    position: absolute;
    top: 66px;
    left: 0;
    text-transform: uppercase;
    color: #000;
}

.service__text {
    position: absolute;
    top: 122px;
    left: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.service-menu {
    width: 240px;
    float: left;
    margin-right: 60px;
   
}

.service-menu__list {
    list-style: none;
}

.service-menu__btn {
    position: relative;
    width: 240px;
    min-height: 61px;
    background-color: #32425c;
    color: #fff;
    border: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    cursor: pointer;
    text-align: left;
}

.service-menu__btn--active {
    background-color: #fff;
    color: #32425c;
    border: none;
}

.service-menu__btn:hover {
    background-color: #293449;
    color: #fff;
}

.service-menu__btn:active {
    background-color: #fff;
    color: #32425c;
    border: none;
}

.service-menu__btn:active, .service-menu__btn:focus {
  outline: none;
}
.service-menu__btn::-moz-focus-inner {
  border: 0;
}

.service-menu__btn-text {
    position: relative;
    top: -3px;
    left: 22px;
}

.service-slider {
    float: right;
    width: 620px;
    min-height: 280px;
    position: relative;
    
}

.service-slider__1 {
    position: absolute;
    vertical-align: top;
    width: 650px;
    min-height: 279px;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f2f6f8 url("../img/picture_service_delivery.png") no-repeat 151px 23px;
}

.service-slider__2 {
    position: absolute;
    vertical-align: top;
    width: 650px;
    min-height: 279px;
    top: 0;
    left: 0;
    z-index: -10;
    background: #f2f6f8 url("../img/picture_service_guarantee.png") no-repeat 239px 0;
}

.service-slider__3 {
    position: absolute;
    vertical-align: top;
    width: 650px;
    min-height: 279px;
    top: 0;
    left: 0;
    z-index: -10;
    background: #f2f6f8 url("../img/picture_service_credit.png") no-repeat 181px 0;
}

.slide-description__title {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.slide-description__text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    position: absolute;
    top: 60px;
    left: 1px;
}

.service-slide-current {
    z-index: 10;
}

.item-description__link {
    position: absolute;
    width: 195px;
    min-height: 38px;
    top: 133px;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-color: #ee3643;
    border-radius: 3px;
    text-align: center;
    line-height: 38px;
}

.company {
    float: left;
    width: 540px;
    min-height: 456px;
}

.company__name {
    text-transform: uppercase;
    color: #000;
    margin-top: 80px;
}

.company__description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-top: 25px;
}

.company-delivery {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
    list-style: none;
}

.company-delivery__item {
    background: url("../img/picture_list_image.png") no-repeat left center;
    padding-left: 37px;
    margin-bottom: 15px;
}

.company-more-about-us__link {
    display: block;
    text-decoration: none;
    width: 220px;
    min-height: 38px;
    background-color: #ee3643;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
}

.company-more-about-us__link:hover {
    background-color: #ca2c37;
}

.company-more-about-us__link:active {
    background-color: #ba2732;
}

.contacts {
    float: right;
    width: 300px;
    min-height: 536px;
    color: #000;
}

.contacts-title__text {
    text-transform: uppercase;
    margin-top: 80px;
    
}

.contacts-map__text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 185px;
    margin-top: 25px;
    margin-bottom: 33px;
}

.contacts-write-us__link {
    display: block;
    text-decoration: none;
    width: 300px;
    min-height: 38px;
    background-color: #ee3643;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    margin-top: 32px;
}

.contacts-write-us__link:hover {
    background-color: #ca2c37;
}

.contacts-write-us__link:active {
    background-color: #ba2732;
}

/*---------------------------------Для блока main-catalog-------------------------------*/
.catalog-content {
    min-height: 1202px;
}

.breadcrumbs {
    min-height: 59px;
}

.breadcrumbs-list {
    font-size: 0;
    min-height: 25px;
    padding-top: 21px;
}

.breadcrumbs-list__item {
    display: inline;
}

.breadcrumbs-list__link {
    position: relative;
    text-decoration: none;
    color: #000;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-right: 40px;
    text-transform: uppercase;
}

.breadcrumbs-list__home {
    position: relative;
    text-decoration: none;
    color: #000;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 55px;
}

.catalog-title {
    min-height: 87px;
    margin-bottom: 20px;
    background-color: #f2f6f8;
    border-top: 1px solid #f2f6f8;
    border-bottom: 1px solid #f2f6f8;
}

.catalog-title__text {
    margin-left: 28px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 30px;
    color: #32425c;
}

.catalog-control {
    min-height: 38px;
    background-color: #f7f3ec;
}

.inner-page .popular-bottom-item {
    margin-bottom: 20px;
    width: 218px;
}

.inner-page .popular-bottom-item:nth-child(3n) {
    margin-right: 0;
}

.filter {
    float: left;
    width: 220px;
    min-height: 1200px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.filter-title {
    display: block;
    min-height: 38px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-title__text {
    position: relative;
    top: 7px;
    left: 18px;
    text-transform: uppercase;
    
}

.filter-form fieldset {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter-form legend {
    font-weight: bold;
    font-size: 17px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.filter-form label {
    font-size: 14px;
}

.filter-form input {
    margin-bottom: 16px;
}

.filter-form .filter-form__no-border {
    border-bottom: none;
}

.filter-form button[type="submit"] {
    width: 138px;
    min-height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.filter-form button[type="submit"] {
    margin-top: 59px;
}

.producer, .power {
    list-style: none;
}

.catalog-content {
    float: right;
    width: 700px;
}

.catalog-control {
    position: relative;
    margin-bottom: 20px;
    min-height: 38px;
    border-radius: 3px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 38px;
    color: #000;
    padding-left: 20px;
}

.catalog-control__sort {
    text-transform: uppercase;
    margin-right: 130px;
}

.catalog-control__how {
    margin-right: 60px;
    margin-left: 5px;
    text-decoration: none;
    border-bottom: 1px dotted #ee3643;
}

.catalog-control__how:hover {
    color: #000;
    border-bottom: 1px solid #ee3643;
}

.catalog-control__how:hover span {
    opacity: 1;
}

.catalog-control__active:hover {
    border: none
}

.catalog-control__how span {
    color: #000;
    opacity: 0.3;
}

.catalog-control__active span {
    color: #ee3643;
    opacity: 1;
}

.catalog-control__active {
    border-bottom: none;
}

.small-margin-r {
    margin-right: 39px;
}

.catalog-control__direction {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 20px;
    height: 38px;
    margin-right: 7px;
}

.catalog-control__direction--active-up {
    
}

.catalog-product {
    padding-right: 0;
    font-size: 0;
    margin-bottom: 32px;
}

.product-item__snippet {
    min-height: 159px;
}

.catalog-pages {
    min-height: 38px;
    font-size: 0;
}

.catalog-pages__btn {
    font-family: "PT Sans", "Arial", sans-serif;
    display: inline-block;
    min-width: 36px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    font-size: 13px;
    margin-right: 10px;
    color: #000;
    text-transform: uppercase;
}

.catalog-pages__btn--next {
    padding: 0 31px;
}

.catalog-pages__active {
    background-color: #ee3643;
    color: #fff;
}

.catalog-pages__btn:hover {
    border-color: #bdc6ca;
}

.catalog-pages__btn:active {
    border-color: #ee3643;
}

.catalog-pages__active:hover {
    border-color: #e5e5e5;
}

.category-description {
    min-height: 261px;
    background-color: #f2f6f8;
    color: #000;
}

.category-description__title {
    position: relative;
    top: 65px;
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
}

.category-description__text {
    position: relative;
    top: 90px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
}

/*Добавляем иконки*/
.breadcrumbs-list__home::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;
    transform: translate(-50%,-50%);
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.home-icon::before {
    width: 15px;
    height: 12px;
    background-position: -10px -843px;
}

.breadcrumbs-list__link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -25px;
    transform: translate(-50%,-50%);
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.right-icon::before {
    width: 20px;
    height: 20px;
    background-position: 0 -1136px;
}

.catalog-control__direction::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
}

.up-icon::before {
    width: 11px;
    height: 10px;
    background-position: -10px -1279px;
}

.down-icon::before {
    width: 11px;
    height: 10px;
    background-position: -10px -754px;
}

/*-----------------------------Pop-up index.html---------------------------------*/

.contacts-modal-dialog {
/*    display: none;*/
    position: fixed;
    z-index: 200;
    left: 50%;
    margin-left: -310px;
    top: 50%;
    margin-top: -215px;
    width: 620px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border-top: 7px solid #ee3643;
    font-size: 18px; 
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 7px;
    width: 26px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 1px;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.contacts-modal-dialog__name {
    display: inline-block;
    margin-left: 80px;
    margin-top: 42px;
    margin-right: 15px;
}

.contacts-modal-dialog__mail {
    display: inline-block;
    margin-top: 42px;
    margin-right: 80px;
}

.contacts-modal-dialog__letter {
    margin-left: 80px;
    margin-top: 20px; 
    margin-bottom: 37px;
}

.contacts-modal-dialog input {
    display: block;
    width: 202px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding-left: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contacts-modal-dialog textarea {
    display: block;
    outline: none;
    resize: none;
    width: 456px;
    min-height: 110px;
    border: none;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.contacts-modal-dialog label {
    display: inline-block;
    margin-bottom: 5px;
}

.contacts-modal-dialog label[for="letter"] {
    display: block;
}

.contacts-modal-dialog__submit {
    display: block;
    min-height: 112px;
    background-color: #f1f1f1; 
}

.contacts-modal-dialog__submit button {
    width: 460px;
    min-height: 38px;
    margin-left: 80px;
    margin-top: 37px;
    background-color: #ee3643;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}

.contacts-modal-dialog__submit button:hover {
    background-color: #ca2c37;
}

.contacts-modal-dialog__submit button:active {
    background-color: #ba2732;
}

.contacts-modal-dialog input::-moz-placeholder { 
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #999999; 
} 

.contacts-modal-dialog input::-webkit-input-placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #999999;
}

.contacts-modal-dialog textarea::-moz-placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #999999; 
}

.contacts-modal-dialog textarea::-webkit-input-placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #999999; 
}

/*--------------------------------Pop-up catalog.html------------------------------*/

.product-modal-dialog {
    position: fixed;
    z-index: 200;
    left: 50%;
    margin-left: -310px;
    top: 50%;
    margin-top: -140px;
    width: 620px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border-top: 7px solid #ee3643;
    font-size: 18px;  
}

.modal-info {
    min-height: 164px;
    background-color: #fff;
    font-size: 30px;
}

.modal-links {
    min-height: 112px;
    background-color: #f1f1f1;
    font-size: 0;
}

.modal-links a {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    min-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 37px;
}

.modal-links__checkout {
    background-color: #ee3643;
    color: #fff;
    margin-left: 80px;
    margin-right: 20px;
}

.modal-links__back {
    background-color: #fff;
    color: #000;
}

.modal-info__text {
    position: relative;
    top: 66px;
    left: 180px;
}

.modal-info__text::before {
    position: absolute;
    top: -13px;
    left: -100px;
    content: "";
    width: 66px;
    height: 66px;
    background-color: #63a63e;
    border-radius: 50%;
    background: #63a63e url("../img/icon-sprite.png") no-repeat 50% 50%;
    background-position: 5px -1579px;
}